{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            Welcome to the Task Manager Application, a comprehensive task management system built with Django. This application is designed to help you efficiently create, manage, and track tasks with ease. Here’s an overview of the key features:
            
            Features
            Create Tasks: Add new tasks with detailed descriptions and deadlines.
            Read Tasks: View a list of all tasks, with options to filter by status and due date.
            Update Tasks: Edit existing tasks to adjust details or change their status.
            Delete Tasks: Remove tasks that are no longer needed or completed.
            This application provides a user-friendly interface that allows you to manage your tasks effectively. Whether you’re organizing your daily to-dos or handling larger projects, the Task Manager Application offers the tools you need to stay on top of your responsibilities.

            Explore the features and streamline your task management today!
        </p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-light" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}

