{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nobis quia temporibus nemo aut architecto eos. Quo dolorum repellendus repudiandae. Possimus, nihil molestias reiciendis non quibusdam mollitia quos dolorum cumque.
            Ipsam blanditiis culpa totam, debitis eaque asperiores nobis vel! Ipsum dolores adipisci, sed suscipit incidunt perspiciatis dolor asperiores. Quasi voluptas provident facilis reiciendis quam similique ex, magnam architecto ipsum fugit.
            Ducimus aut repudiandae accusantium praesentium in explicabo adipisci non animi aliquid fuga eveniet eos exercitationem hic voluptates ullam, assumenda ratione dignissimos officia voluptatibus magnam harum saepe rem fugiat mollitia. Debitis?
        </p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-light" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}

