{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Welcome to the Task Manager Application</h2>
                    <p class="card-text text-justify">
                        Welcome to the Task Manager Application, a comprehensive task management system built with Django. This application is designed to help you efficiently create, manage, and track tasks with ease. Here’s an overview of the key features:
                    </p>
                    <h4 class="mt-4">Features:</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Create Tasks:</strong> Add new tasks with detailed descriptions and deadlines.</li>
                        <li class="list-group-item"><strong>Read Tasks:</strong> View a list of all tasks, with options to filter by status and due date.</li>
                        <li class="list-group-item"><strong>Update Tasks:</strong> Edit existing tasks to adjust details or change their status.</li>
                        <li class="list-group-item"><strong>Delete Tasks:</strong> Remove tasks that are no longer needed or completed.</li>
                    </ul>
                    <p class="card-text mt-4">
                        This application provides a user-friendly interface that allows you to manage your tasks effectively. Whether you’re organizing your daily to-dos or handling larger projects, the Task Manager Application offers the tools you need to stay on top of your responsibilities.
                    </p>
                    <p class="text-center">
                        <strong>Explore the features and streamline your task management today!</strong>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-light" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}

